.envelope-page{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#f7f2eb;

padding:20px;

}

.envelope{

position:relative;

width:340px;

height:230px;

perspective:1200px;

}

.body{

position:absolute;

bottom:0;

width:100%;

height:180px;

background:#fdfbf8;

border-radius:0 0 18px 18px;

box-shadow:0 20px 45px rgba(0,0,0,.08);

z-index:2;

}

.flap{

position:absolute;

top:0;

width:100%;

height:120px;

background:#efe2d1;

clip-path:polygon(0 0,100% 0,50% 100%);

transform-origin:top;

z-index:4;

}

.letter{

position:absolute;

left:20px;

right:20px;

height:220px;

background:white;

border-radius:22px;

box-shadow:0 15px 35px rgba(0,0,0,.12);

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

z-index:1;

}

.letter h2{

font-family:"Cormorant Garamond";

font-size:34px;

color:#9b7d49;

margin-bottom:20px;

}

.letter p{

font-family:"Great Vibes";

font-size:48px;

color:#b58b3d;

}

@media(min-width:768px){

.envelope{

width:430px;

height:280px;

}

.body{

height:220px;

}

}