/* ---------- Lightbox ---------- */

.lightbox{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.88);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:999;

    cursor:pointer;

    backdrop-filter:blur(5px);

}

.lightbox img{

    max-width:90%;

    max-height:90%;

    border-radius:20px;

    box-shadow:0 25px 70px rgba(0,0,0,.5);

}